body {
	font-family: 'Open Sans';
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#outercontainer {
	width: 100%;
	height: 100vh;
	position: relative;
}

/* FOR INDEX.HTML */

/* show hidden password when user hovers over it */
#hidden-password {
	opacity: 0;
	position: absolute;
	bottom: 0;
	right: 10px;
	
}
#hidden-password:hover {
	opacity: 1;
}

/* where the user's keypresses show up on the page */
#type-box {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
	text-align: center;
	position: absolute;
	top: 40vh;
}

/* FOR MATCH2.HTML (and tic tac toe) */

/* the main area for match 2 game */
#matching-area, #game-area {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 25vh;
}

.matching-row, .game-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10px;
}

/* each matching card */
.card {
	width: 80px;
	height: 80px;
	background-color: black;
	margin-right: 5px;
	margin-left: 5px;
}

/* FOR TICTACTOE.HTML */

@font-face {
  font-family: "Cat";
  src: url("catfont.otf");
}

#game-area {
	top: 20vh;
}

.game-row {
	margin-bottom: 0px;
}

/* each tic tac toe box */
.box {
	width: 125px;
	height: 125px;
	border: 1px solid black;
	font-family: "Cat";
	font-size: 100px;
	text-align: center;
}
.top {
	border-top: none;
}
.bottom {
	border-bottom: none;
}
.left {
	border-left: none;
}
.right {
	border-right: none;
}





